*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.mainContainer{
    max-width: 70vw;
    margin: auto;
    margin-top: 20px;
    padding: 20px;

    border: 2px solid black;
    background-color: antiquewhite;
}

.searchBox{
    max-width: 250px;
    margin: auto;
}

.displayBox{
    margin-top: 25px;
    padding: 5px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nounMeaning,.verbMeaning{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
